<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{base :: head}"></head>

<body>
	<div th:replace="~{base :: logo('Tipo de Quartos')}"></div>

	<div class="container">
		<div th:replace="~{base :: nav}"></div>
		<div class="card mt-1">
			<div class="card-header mt-0 mb-0 p-2">Lista de Tipo de Quartos</div>
			<div class="card-body ml-3 mt-0 p-1 mr-2">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th>Id</th>
								<th>Descrição</th>								
							</tr>
						</thead>
						<tbody>
							<tr th:each="tipoQuarto : ${tipoQuartos}">
								<td th:text="${tipoQuarto.id}"></td>
								<td th:text="${tipoQuarto.descricao}"></td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<footer th:replace="~{base :: footer}"></footer>
		<div th:replace="~{base :: scripts}"></div>

</body>

</html>